@import './style/moviecard.css';
@import './style/navbar.css';


.App {
  text-align: center;
  display: flex;
  justify-content: center;
  background: url(https://www.clementoni.com/media/prod/no/39411/marvel-1000-pcs-impossible-puzzle_0h9uBau.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.wrapper {
  width: 900px;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, .1);
  box-shadow: 0 0 5px;
  backdrop-filter: blur(10px);
  color: white;
}

.btn-change:hover {
  background-color: #ed171f;
  color: white;
}

.btn-change {
  width: 80px;
  background-color: rgba(255, 255, 255, .2);
  box-shadow: 0 0 5px;
  backdrop-filter: blur(10px);
  color: white;
}
